<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let personaje of personajesRecientes"
    (click)="verDetalle(personaje.id)"
    class="personaje-card"
  >
    <img
      [src]="personaje.imagen"
      [alt]="personaje.nombre + ' ' + personaje.apellido"
      class="personaje-img"
      loading="lazy"
    />
    <ion-card-header>
      <ion-card-title>{{ personaje.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ personaje.apellido }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>