<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/noticias" routerDirection="root">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>Noticias</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/nosotros" routerDirection="root">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Nosotros</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>